<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Map</title>
    <link rel="stylesheet" href="../css/jquery.mobile-1.4.5.min.css" />
    <script src="https://code.jquery.com/jquery-1.11.3.min.js" integrity="sha256-7LkWEzqTdpEfELxcZZlS6wAx5Ff13zZ83lYO2/ujj7g=" crossorigin="anonymous"></script>
    <script src="../js/lib/jquery.mobile-1.4.5.min.js"></script>
    <script src="../js/views/map.js"></script>
</head>

<body>
    <div id="pgMapa" data-role="page">
        <div data-role="header">
            <h1>Mis rutas</h1></div>
        <div class="ui-content">
            <div id="pnMapa"></div>
            <!--script>
            var map;

            function initMap() {
                map = new google.maps.Map(document.getElementById('pnMapa'), {
                    center: {
                        lat: -34.397,
                        lng: 150.644
                    },
                    zoom: 8
                });
            }
            </script-->
        </div>
        <div data-role="footer" data-position="fixed">
            <div data-role="navbar">
                <ul>
                    <li><a href="#pgHome" data-icon="home">Principal</a></li>
                    <li><a href="#pgMisRutas" data-icon="search">Mis rutas</a></li>
                    <li><a href="#pgMapa" data-icon="navigation" class="ui-btn-active ui-statepersist">Mapa</a></li>
                </ul>
            </div>
        </div>
    </div>
    <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&callback=initMap" async defer></script>
</body>

</html>
