<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Routes</title>
    <link rel="stylesheet" href="../css/jquery.mobile-1.4.5.min.css" />
    <script src="https://code.jquery.com/jquery-1.11.3.min.js" integrity="sha256-7LkWEzqTdpEfELxcZZlS6wAx5Ff13zZ83lYO2/ujj7g=" crossorigin="anonymous"></script>
    <script src="../js/lib/jquery.mobile-1.4.5.min.js"></script>
</head>

<body>
    <div id="pgMisRutas" data-role="page">
        <div data-role="header">
            <h1>Mis rutas</h1></div>
        <div class="ui-content"></div>
        <div id="pnRutas">
            <ul data-role="listview" data-filter="true">
                <li><a id="1" href="#">Ruta 1</a></li>
                <li><a id="2" href="#">Ruta 2</a></li>
                <li><a id="3" href="#">Ruta 3</a></li>
                <li><a id="4" href="#">Ruta 4</a></li>
            </ul>
        </div>
        <div data-role="footer" data-position="fixed">
            <div data-role="navbar">
                <ul>
                    <li><a href="#pgHome" data-icon="home">Principal</a></li>
                    <li><a href="#pgMisRutas" class="ui-btn-active ui-state-persist" data-icon="search">Mis rutas</a></li>
                    <li><a href="#pgMapa" data-icon="navigation">Mapa</a></li>
                </ul>
            </div>
        </div>
    </div>
</body>

</html>
